<span>
    <lmc-app-tabs></lmc-app-tabs>
    
    <!-- List of all possible view tabs but only one will be active at any point in time -->
    <section>
        <lmc-app-clientgroups *ngIf = "(activeTab.name === TAB_NAMES.CLIENT_GROUPS)" [data] = "tabData[TAB_NAMES.CLIENT_GROUPS]"></lmc-app-clientgroups>
        <lmc-app-devicegroups *ngIf = "(activeTab.name === TAB_NAMES.DEVICE_GROUPS)" [data] = "tabData[TAB_NAMES.DEVICE_GROUPS]"></lmc-app-devicegroups>
        <lmc-app-devices *ngIf = "(activeTab.name === TAB_NAMES.DEVICES)" [data] = "tabData[TAB_NAMES.DEVICES]"></lmc-app-devices>
        <lmc-app-eforms *ngIf = "(activeTab.name === TAB_NAMES.EFORMS)" [data] = "tabData[TAB_NAMES.EFORMS]"></lmc-app-eforms>
        <lmc-app-home *ngIf = "(activeTab.name === TAB_NAMES.HOME)" [data] = "tabData[TAB_NAMES.HOME]"></lmc-app-home>
        <lmc-app-services *ngIf = "(activeTab.name === TAB_NAMES.SERVICES)" [data] = "tabData[TAB_NAMES.SERVICES]"></lmc-app-services>
        <lmc-app-solutions *ngIf = "(activeTab.name === TAB_NAMES.SOLUTIONS)" [data] = "tabData[TAB_NAMES.SOLUTIONS]"></lmc-app-solutions>
        <lmc-app-system *ngIf = "(activeTab.name === TAB_NAMES.SYSTEM)" [data] = "tabData[TAB_NAMES.SYSTEM]"></lmc-app-system>
    </section>
</span>