<!-- Footer Section -->
<section id="footer">
    <footer class="row text-center page-footer">

        <div class="col-xs-12 col-sm-4">
            <a href="http://www.lexmark.com">{{help}}</a>
        </div>

        <div class="col-xs-12 col-sm-4">
          &#169;{{copyright}}
        </div>

        <div class="col-xs-12 col-sm-4 visible-lg-inline">
          <img src="assets/images/LexmarkLogo_RGB_Reversed.svg" style="width: 100px;" aria-hidden="true">
        </div>

    </footer>
</section >