<div align="center" [ngStyle]= "{'color' : color, 'background-color':backgroundColor}" >
    <span class="page-header-title">{{title}}</span>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2" style="min-height:650px;background-color:#D9E0D6;">
            <widget-selection [widgetList] = "_widgetList" (selectionChange) = "updateSelection($event)"></widget-selection>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-10" style="padding-left:90px;">
            <div *ngIf = "_widgetList['datepicker']" >
                <datepicker-container></datepicker-container>
            </div>
        </div>
    </div>
</div>