<div class="panel panel-default panel-rounded">
    <div class="panel-heading panel-header">
        <span class="title">{{_title}}</span>
    </div>
    <div class="panel-body" style="height:580px;">
        <table>
            <tr>
                <td style="width:100px"><strong>Date Picker</strong></td>
                <td></td>
                <td><input type="checkbox" value = "datepicker" [(checked)] = "widgetList['datepicker']" (click)="widgetSelectionChange($event)"></td>
            </tr>
        </table> 
    </div>
</div>